@import url('https://fonts.googleapis.com/css?family=VT323');


html,
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
}

nav ul li {
  display: inline-block;
  margin: 20px;
  margin-bottom: 15px;
  margin-top: 25px;
}

nav ul li i {
  color: white;
}

nav ul li i:hover {
  color: black;
}


#welcome-section {
  height: 100vh;
}

#welcome-section h1{
	font-family: 'VT323', monospace;
	color:black;
	font-size:36px;
}

#welcome-section p{
	font-family: 'VT323', monospace;
	color:black;
	font-size:24px;
}


.intro {
  top: 0;
  min-height: 45vh;
  padding-top: 35vh;
  background-image: url("https://raw.githubusercontent.com/vukisic/RandomThings/master/pexels-photo-531880.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 80vh;
  width:auto;
}

.intro p {
  color: #1a1a1a;
  margin-top: -40vh;
}

.intro h1 {
  color: black;
}

.work {
  padding-top: 60px;
  margin-top: -60px;
  background-image: url("https://raw.githubusercontent.com/vukisic/RandomThings/master/milky-way-starry-sky-night-sky-star-956999.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.work h2 {
  color: white;
  padding: 10px;
  margin: 15px;
}

.project {
  text-decoration: none;
  color: #008080;
  display: inline-block;
  overflow: hidden;
  border: 2px solid lightblue;
  height: 200px;
  width: 280px;
  margin: 40px 50px;
}

.project-pic {
  width: 100%;
  height: 180px;
  border-bottom: 2px solid lightblue;
}

.project-title {
  font-weight: bold;
  background-color: white;
}

#profile-link {
  color: white;
  display: block;
}

#profile-link:hover {
  color: green;
}

#about-me {
  padding-top: 60px;
  margin-top: -60px;
  background-image: url("https://raw.githubusercontent.com/vukisic/RandomThings/master/background-black-close-up-952670.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#box1 {
  height: 100%;
  width: 40%;
  margin: 5px;
}

#box1 p {
  font-family: 'VT323', monospace;
  font-size: 2em;
  color: white;
}

#box1 h2 {
  font-family: 'VT323', monospace;
  color: white;
}

#box2 {
  height: 100%;
  width: 40%;
  margin: 5px;
}

#box2 .lang ul {
  list-style: none;
}

#box2 .plang ul {
  list-style: none;
}

#box2 .lang ul li {
  color: white;
  font-family: 'VT323', monospace;
}

#box2 h3 {
  font-family: 'VT323', monospace;
  color: white;
  margin-left: -3em;
}

#box2 .plang ul li {
  color: white;
  font-family: 'VT323', monospace;
}

#box2 h2 {
  color: white;
  font-family: 'VT323', monospace;
}

.work h2,.contact-header h2{
	font-family: 'VT323', monospace;
}
.contact-info {
  display: inline-block;
  width: 20vw;
  height: 5vh;
}

#hand-text{
	font-size:2em;
	font-family: 'VT323', monospace;
}

@media only screen and (max-width: 500px) {
  #box1 p{
    font-size:1em;
  }
  
  #hand-text{
	font-size:1em;
  }
  
  .project {
  height: 16em;
  width: 20em;
  margin: 20px 20px;
}

.project-pic {
  width: 100%;
  height: 200px;
}

#welcome-section p{
	font-size:12px;
	color:white;
}

#welcome-section h1{
	color:white;
	font-size:24px;
}
  
}