:root{
    --theme-b: #f7f9ff; 
    --theme-t: #ffc107; 
}

html,body{
    height: 100%;
    width:100%;
    margin: 0;
    padding:0;
}


.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    border-radius: 0;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

.hero{
    background: url('img/night-sky.jpg');
    background-size: cover;
    background-position: center bottom;
    height: 100%;
    width: 100%;
    position: relative;
}

.hero > #hero-text{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero > #hero-text > h1{
    font-family: 'Comfortaa', cursive;
    color:  var(--theme-t);
    margin-top: -70px;

}

.nav-bar{
    background: transparent;
    height: 50px;
    width: 100%;
    z-index: 999999999999;
}

.nav-bar #logo,#links{
    display: inline-block;
}

.nav-bar #logo
{
    color: var(--theme-t);
    font-family: 'Comfortaa', cursive;
    font-size: 24px;
    padding:20px 0 0 25px;
    display: inline-block;
}

.nav-bar #links
{
    list-style: none;
    padding: 25px 20px 0px 0px;
    position: absolute;
    top:0px;
    right:0px;
}

.nav-bar #links > li{
    padding-right: 20px;
    padding-top: 15px;
}

.me-img{
    margin-top: -100px;
    margin-bottom: 100px;
    border-radius: 1000px;
}

.text-center{
    text-align: center;
}

#IconRow{
    margin: 60px 0;
}

#text2{
    color: var(--theme-t);
    margin-bottom: 20px;
}

.hero2{
    background: var(--theme-b);
    background-size: cover;
    background-position: center top;
    color: var(--theme-t);
    margin-left: 0;
    margin-right: 0;
    height: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

#simple_text{
    font-family: monospace;
    font-size: 15px;
    text-align: center;
    font-style: oblique;
}

.border{
    height:50px;
    background: silver;
}

#pro_text{
    font-family: monospace;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

.btns{
    margin-top: 20px;
}

.theme-btn1 {
    color: #ffc107;
    background-color: #212529;
    border-color: #ffc107;
    border-radius: 0;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

.theme-btn2 {
    color: #ffc107;
    background-color: #f7f9ff;
    border-color: #ffc107;
    border-radius: 0;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}